footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    i {
        color: red !important;
        transition: 0.3s;
        &:hover {
            color: white !important;
        }
    }
    .call-us {
        height: 25rem;
        background-color: #232323;
        display: flex;
        flex-wrap: wrap;
        .info {
            flex-direction: column;
            display: flex;
            justify-content: center;
            color: white;
            .services-item {
                display: flex;
                i {
                    width: 5rem;
                    font-size: 3rem;
                    padding: 1rem 1rem;
                }
            }
            .dop {
                padding: 0.25rem 0.5rem;
                background-color: red;
                height: 2rem;
                width: 4.8rem;
                margin: 5rem 0 1rem 0;
            }
        }
        .map {
            background-color: gainsboro;
            height: 25rem;
            iframe {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
    .app {
        background-color: red;
        padding: 2rem 0;
        .container {
            color: white;
            width: 15rem;
            width: 100%;
            justify-content: space-between;
            display: flex;
            button {
                color: white;
                border: 1px solid white;
                &:hover {
                    color: black;
                    background-color: white;
                }
            }
        }
    }
    .proov {
        .container {
            justify-content: space-between;
            padding: 1rem 0;
            display: flex;
            div {
                display: flex;
                h6 {
                    margin: 0 0.5rem;
                    transition: 0.3s;
                    cursor: pointer;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {}