.home {
    background-image: url(./../img/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 45rem;
    .info {
        padding-top: 10rem;
        h1 {
            font-size: 7rem;
        }
        h5 {
            background-color: red;
            padding: 0.5rem;
            width: 13.5rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .home {
        padding-top: 10%;
        text-align: center;
        h5 {
            margin: auto;
        }
        h1 {
            font-size: 4rem !important;
        }
        button {
            margin: auto;
        }
    }
}