nav {
    z-index: 100;
    transition: 0.5s;
    .container {
        display: flex;
        position: relative;
    }
    position: fixed;
    width: 100%;
    a {
        text-decoration: none;
        color: white;
    }
    .navBar {
        position: absolute;
        z-index: 100;
        color: white;
        display: flex;
        padding: 0;
        margin-left: 10rem;
        li {
            padding: 2rem 0;
            margin-right: 2rem !important;
            list-style: none;
            cursor: pointer;
            &:hover {
                color: red;
            }
        }
    }
    .icons {
        position: absolute;
        right: 0;
        i {
            color: white;
            font-size: 1.5rem;
            margin: 2rem 1rem;
        }
    }
}

.scrolled {
    background-color: white;
    color: black !important;
    li {
        color: black;
    }
    .icons {
        i {
            color: black;
        }
    }
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1600px) {}