.VarietyCards {
    background-color: red;
    color: white;
    text-align: center;
    padding: 3rem 0;
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .VarietyCard {
        img {
            width: 10rem;
            height: 10rem;
            margin-bottom: 2rem;
        }
    }
}